<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=5,minimal-ui">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
    html, body, #render {
      margin: 0;
      height: 100%;
    }
    a {
      color: inherit;
      text-decoration: inherit;
    }
  </style>
</head>
<body>
  <div id="render"></div>
  <%= htmlWebpackPlugin.options.generateKiwiConfig() %>
</body>
</html>
